{{#extends "base"}}

{{#block "content"}}
<div class="card">
    <div class="card-body">
        <h3 style="color:green">Thank you for your support, your payment has been completed!</h3>
        <span style="display: inline-block; width: 2px;"></span>
        <h5>Click here to return to purchase more items:</h5>
        <span style="display: inline-block; width: 5px;"></span>
        <a href="/products" class="btn btn-outline-success d-flex justify-content-center align-items-center"
            style="max-width: 200px; height: 40px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2"
                viewBox="0 0 16 16">
                <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
            </svg><span style="display: inline-block; width: 10px;"></span>
            View all products
        </a>
        <span style="display: inline-block; width: 5px;"></span>
        <h5>or</h5>
        <span style="display: inline-block; width: 5px;"></span>
        <a href="/cart" class="btn btn-outline-success d-flex justify-content-center align-items-center"
            style="max-width: 200px; height: 40px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2"
                viewBox="0 0 16 16">
                <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
            </svg><span style="display: inline-block; width: 10px;"></span>
            Return to cart
        </a>
    </div>
</div>
{{/block}}

{{/extends}}
