{{#extends "base"}}

{{#block "content"}}
<h1>Register</h1>
<form method="POST">
    {{{userForm}}}
    <input type="submit" class="btn btn-warning mt-3" value="Register"/>
</form>
{{/block}}

{{/extends}}